<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.houpu.dao.EmployeeDao">
    <resultMap id="EmployeeResultMap" type="com.houpu.model.Employee">
        <id property="id" column="e_id"/>
        <result property="partId" column="p_id"/>
        <result property="loginName" column="e_loginname"/>
        <result property="password" column="e_psw"/>
        <result property="img" column="e_img"/>
        <result property="gender" column="e_sex"/>
        <result property="flag" column="e_flag"/>
        <result property="admin" column="e_admin"/>
        <result property="remark" column="e_remark"/>
        <result property="trueName" column="e_truename"/>
        <result property="is" column="e_is"/>
        <association property="part" javaType="com.houpu.model.Part">
            <id property="id" column="p_id"/>
            <id property="name" column="p_name"/>
        </association>
    </resultMap>

    <!-- 查询所有员工 -->
    <select id="queryAllEmployee" resultMap="EmployeeResultMap">
       SELECT e.e_id,p.p_name,e.e_loginname,e.e_psw,e.e_img,e.e_sex,e.e_flag,e.e_admin,e.e_truename,e.e_remark,e.e_is
        FROM t_part p,t_emp e
        where  p.p_id=e.p_id
    </select>



    <!-- 查询所有员工的真实姓名 -->
    <select id="queryTrueName" parameterType="part" resultType="java.lang.String">
        SELECT
            e_truename
        FROM
            t_emp
        WHERE
            e_is = 1
            AND p_id = (
            SELECT
                p_id
            FROM
                t_part
        WHERE
            p_name = #{name})
    </select>

    <!-- 客户管理查询 -->
    <select id="queryEmp" resultMap="EmployeeResultMap">
        select e_id,e_loginname,e_sex,e_remark from t_emp
    </select>



</mapper>