<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.houpu.dao.InproductDao">
    <resultMap id="inproductResultMap" type="com.houpu.model.Inproduct">
        <id property="id" column="d_id"></id>
        <result property="remark" column="d_remark"></result>
        <result property="count" column="d_int"></result>
        <result property="time" column="d_time"></result>

        <!-- 关联product表 -->
        <association property="product" javaType="com.houpu.model.Product">
            <id property="id" column="p_id"></id>
            <result property="name" column="p_name"></result>
            <result property="area" column="p_area"></result>
            <result property="ml" column="p_ml"></result>
        </association>

        <!-- 关联sort表 -->
        <association property="sort" javaType="com.houpu.model.Sort">
            <id property="id" column="s_id"></id>
            <result property="name" column="s_name"></result>
        </association>
    </resultMap>

    <!-- 查询所有Inproduct -->
    <select id="queryAll" resultMap="inproductResultMap">
        SELECT
            t_inproduct.*,
            t_product.p_name,
            t_product.p_area,
            t_product.p_ml,
            t_sort.s_name
        FROM
            t_product,
            t_inproduct,
            t_sort
        WHERE
            t_inproduct.d_id = t_product.p_id
            AND t_inproduct.d_id = t_sort.s_id
    </select>



</mapper>